<%= render 'homes/header' %>

<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
  　  <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: 'no_image.jpg', size:'50x50', class: "attachment user profile_image fallback" %></td>
    　　  <%#確認画像の表示 %>
     <td><%= user.name %></td>
     <td><%= link_to "Show",user_path(user.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= render 'homes/info', user: @user %>

<%= render 'homes/post', book: @book %>

